<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>ai.mfdynamics.arckon-es-collector</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Library/Arckon/arckon-es-collector.app/Contents/MacOS/arckon-es-collector</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <real>5</real>
    <key>StandardErrorPath</key>
    <string>/var/log/arckon-es-collector.log</string>
    <key>StandardOutPath</key>
    <string>/var/log/arckon-es-collector.log</string>
</dict>
</plist>